
-------------------------------------------------------------------------------
1. Project Title, Name and ID of group memebers
2. ER Diagram and Case Study
3. Normalization of Database
4. Table Creation with screenshots
5. Data insertion (minimum 10 rows in each table)
6. Constraint adding
7. Query Writing
    -Joining (2 Equijoin, 2 Outerjoin, 2 Selfjoin, 2 Non Equijoin)
    -Subquery (5)
    -Single_row_function (5)
    -Group_function (5)
    -View (1)
    -Sequence (1)
    -General (5)
-------------------------------------------------------------------------------

